<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Verifikasi Pengguna </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="login-container">
    <h2>🍛 RICHFOOD SHOP</h2>
    <h2>Verifikasi Diri Anda</h2>
    <div class="role-options">
      <div class="role-card" onclick="window.location.href='/seller'">
        <div class="emoji">👩🏻‍🍳</div>
        <h3>Saya Penjual</h3>
      </div>
      <div class="role-card" onclick="window.location.href='/buyer'">
        <div class="emoji">🤤</div>
        <h3>Saya Pembeli</h3>
      </div>
    </div>
  </div>
</body>
</html>